#principal {
    width: 600px;
    padding: 20px;
    background-color: #A4A4A4;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}

#editor {
    width: 560px;
    padding: 15px;
    background-color: #BDBDBD;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}

#contenido {
    width: 500px;
    min-height: 100px;
    padding: 10px;
    background-color: #F2F2F2;
    margin: auto;
    border: 2px solid black;
}

#botones {
    width: 540px;
    padding: 12px;
    background-color: #848484;
    margin: 10px auto;
    border-radius: 20px;
}

.boton {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}